#footer {
    height: auto;
    overflow:hidden;
    
    .footer-wrap{
        width: 100vw;
        height: 50px; 
        padding: $rowPad;
        position: fixed;
        left: 0;
        bottom: 0;
        background: none;
        transform: translateY(0); 

        .contact-card {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            a {

                span {
                    line-height: 0;
                    font-size: 0; }
            }
        }
        
        &.rollupBtm {
            height: 200px; 
            background-color: $primary-highlight;
            color: $primary-highlight-fore;
            font-size: 100%;
            transition: all 0.5s; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .contact-card {
                position: relative;
                text-align: center;
                
                a {
                    line-height: 30px;
                    transform: scale(1);
                    transform-origin: center;
                    transition: transform 0.33s;
    
                    &:hover {
                        transform: scale(1.15)}
                
                }
            }
        }
    }
}

#footer.tablet,
#footer.mobile {
    
    .footer-wrap {
        height: 50px; 
        background: none;
        transform: translateY(0); 

        .contact-card {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            a {

                span {
                    line-height: 0;
                    font-size: 0; }
            }
        }
    }

}

/* HIDE BEHIND MODALS */
body.modal-popped #footer{ 
    opacity: 0;
    pointer-events: none; }