#header #nav {
    width: 100vw;
    height: 50px;
    border: solid rgba(255,255,255,0.1);
    border-width: 1px 0;
    position: absolute;
    right: 0;
    background-color: $primary-highlight;
    color: $secondary-highlight-fore;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: height 0.5s, background-color 0.5s;
    
    a { 
        min-width: 100px;
        height: 50px;
        padding: 25px 1vw;
        position: relative;
        font-size: inherit;
        font-weight: bold;
        text-align: center;
        line-height: 0;
        transition: all 0.5s;
        
        &.active {
            background-color: $secondary-highlight;
        
            &:hover {
                background-color: $primary-highlight; }
        }

        &:hover {
            @extend %hover-text; }
    }

    &:hover {
        background-color: $secondary-highlight; }

    &.rollupTop {
        height: 0;
        border-width: 0;
        position: fixed;
        font-size: 0;
        overflow: hidden;
    
        &.open{
            height: 50px;
            border-width: 1px 0; 
            font-size: inherit; } 
    }
}

#header #scrollNav-wrap{
    width: 20px;
    height: 50vh;
    position: fixed;
    top: 25vh;
    right: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: url(../img/scroll-lite.png), url(../img/scroll-lite.svg), row-resize;
    z-index: 300;

    a {
        width: 0;
        height: 30%;
        border: 5px solid $secondary-highlight;
        border-radius: 5px;
        position: relative;
        font-size: 0;
        line-height: 0;
        cursor: url(../img/scroll-lite.png), url(../img/scroll-lite.svg), row-resize;
        transition: border-color 0.75s;

        &::before {
            content: '';
            width: 0;
            height: 100%;
            border: 6px solid $primary-highlight-fore;
            border-radius: 6px;
            position: absolute;
            top: -6px;
            left: -6px;
            opacity: 0.5;
            z-index: -1;
        }
        
        &.active {
            border-color: $primary-highlight-fore;
            transition: border-color 0.5s;
            box-shadow: 0 0 10px 5px $secondary-highlight;
        
            &::before { border-color: $secondary-highlight; }
        }

    }
}

