#section-content.resume {
    
    .content-background{
        background-image: url("https://picsum.photos/id/4/1280/900");
        filter: grayscale(1); }

    .content-wrap #resume {
        width: 100%;
        height: 100%;
        z-index: 10;
        cursor: ns-resize; }

    .content-wrap #downloadResume {
        display: none; }
}

#section-content.resume.mobile {

    .content-wrap #resume {
        display: none; }

    .content-wrap #downloadResume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center; }
}