#section-content.resume {
    
    .content-background{
        background-image: url("https://picsum.photos/id/4/1280/900");
        filter: grayscale(1); }

    .content-wrap #resume {
        width: 80%;
        height: 70%;
        z-index: 10;
        cursor: ns-resize; }

}