@import 'reset';

@import 'extensions';

@import 'variables';

/* GLOBAL */

html,body{
    overflow:hidden; }

body {
    width: 100%;
    height: 100%;
    background-color: $default-back;
    color: $default-fore;
    font-family: $primary-font;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none; }  // Safari and Chrome
}

h1, h2, h3, h4 {
    margin-bottom: 20px; }

h5, h6, p {
    margin-bottom: 15px; }

#header, #nav, #footer {
    z-index: 200; }

a {
    color: inherit;
    text-decoration: none; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

.button,
button {
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.33s; }

.primary-button {
    background-color: $primary-highlight;
    color: $primary-highlight-fore;
    
    &:hover {
        background-color: $secondary-highlight; }
}

.secondary-button {
    background-color: $secondary-highlight;
    color: $primary-highlight-fore;
    
    &:hover {
        background-color: $secondary-highlight-fore; }
}

.primary-background {
    background-color: $primary-highlight;
    color: $primary-highlight-fore; }

.secondary-background {
    background-color: $secondary-highlight;
    color: $secondary-highlight-fore; }

.text-center {
    text-align: center; }

.paralax-container {
    @extend %full-screen;
}

table {
	border-collapse: collapse;
	border-spacing: 0; }
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; }


/* HEADINGS MIXIN */
    
@mixin headings($h1: 42px, $decreaseBy: 6px) {
    @for $i from 1 through 6 {
        h#{$i} {
            font-size: ($h1+$decreaseBy) - $i * $decreaseBy;
            font-family: $primary-font;
            letter-spacing: 1.5px; }
    }
}

/* MEDIA QUERY & COLUMN MIXINS */
@mixin mq($break) {
    @if($break == 0) {
        @content;
    } @else {
        @media screen and (min-width: $break *1px) {
            @content;
        }
    }
}

@mixin create-col-mq($mod, $cols, $break) {
    @include mq($break) {
        @if($break == $grid_tab) {
            @include headings(34px,4px);
        } @else if($break == $grid_lap) {
            @include headings
        } @else if($break == $grid_desk) {
            @include headings
        }  @else {
            @include headings(26px,4px);
        }

        @for $i from 1 through $cols {
            & .col#{$mod}-#{$i} {
                width: (100 / ($cols / $i) ) * 1%;
            }
        }
    }
}

#root {

    #main {
        @extend %full-screen; }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before,
        &::after {
            content:'';
            clear: both; }

        .col {
            float: left; }
    }

    @each $mod , $break in $map-grid-props {
        @include create-col-mq($mod, $grid_cols, $break); }

    .column-pad {
        padding-left: $colPad;
        padding-right: $colPad; }

    .row-pad {
        padding: $rowPad; }

    article {
        @extend %full-screen;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.5s;

        &.rollupTop {
            opacity: 0;
            z-index: -1;
        }

        p {
            font-size: calc(14px + 2vmin); }

        .welcomeButton {
            color: inherit; 
            font-size: 25px;
            cursor: pointer; }

        &.mobile {

            p { 
                font-size: 5vmin; }

            br {
                display: none; }
        }
    }

    article:not(.rollupTop) + section {
        filter: blur(10px) brightness(0.75);
        z-index: -1;

        .content-wrap {
            opacity: 0; }
    }

    section {
        width: 100%;
        height:100%; 
        position: fixed;
    
        .switch-wrapper,
        .switch-wrapper > div {
            width: 100%;
            height:100%; }

        #section-content {
            @extend %full-screen;
            @extend %hide-scrollbar;

            .content-wrap {
                @extend %full-screen;
                margin: 15vh 10vw;
                display: flex;
                justify-content: center;
                align-items: center; 
                z-index: 2;
            }
    
            .content-background {
                @extend %full-screen;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.33;
                display: block;
                z-index: 1;
            }

        }
    
    }

}

@import 'header';

@import 'footer';

@import 'nav';

@import 'about';

@import 'samples';

@import 'resume';









