/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box; }

/* HTML5 */

div, main, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    box-sizing: border-box; }

/* VARIABLES */

    /*colors*/
$primary-highlight: #222222;
$primary-highlight-fore: #D6D1E6;
$secondary-highlight: #68566D;
$secondary-highlight-fore: #FFFFFF;
$default-fore: #F4F4F4;
$default-back: #333333;

    /*fonts*/
$primary-font: 'Dosis', Verdana, sans-serif;
$secondary-font: 'Righteous', Impact, cursive;

    /*dimensions*/
$rowV: 3vw;
$rowH: 5vw;
$rowPad: $rowV $rowH;
$colPad: calc(20px + 2vmin);

/* GLOBAL */

body {
    background-color: $default-back;
    color: $default-fore;
    font-family: $primary-font;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none; }  // Safari and Chrome
}

h1, h2, h3, h4 {
    margin-bottom: 20px; }

h5, h6, p {
    margin-bottom: 15px; }

#header, #nav, #footer {
    z-index: 200; }

section {
    width: 100vw;
    height: 100vh;
    margin: 50px 0;
    z-index: 1;

    #section-content{
        width: 100vw;
        height: 100vh; 
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
}

a {
    color: inherit;
    text-decoration: none; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

.button,
button {
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.33s; }

.primary-button {
    background-color: $primary-highlight;
    color: $primary-highlight-fore;
    
    &:hover {
        background-color: $secondary-highlight; }
}

table {
	border-collapse: collapse;
	border-spacing: 0; }
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; }

/* HEADINGS */
    
    @mixin headings($h1: 42px, $decreaseBy: 6px) {
        @for $i from 1 through 6 {
            h#{$i} {
                font-size: ($h1+$decreaseBy) - $i * $decreaseBy;
                font-family: $primary-font;
                letter-spacing: 1.5px; }
        }
    }

/* GRID */

$grid_tab: 600;
$grid_lap: 900;
$grid_desk: 1200;
$grid_max: 1400px;
$grid_cols: 12;

$map-grid-props: ('-mob': 0, '-tab': $grid_tab, '-lap': $grid_lap, '-desk': $grid_desk);

@mixin mq($break) {
    @if($break == 0) {
        @content;
    } @else {
        @media screen and (min-width: $break *1px) {
            @content;
        }
    }
}

@mixin create-col-mq($mod, $cols, $break) {
    @include mq($break) {
        @if($break == $grid_tab) {
            @include headings(34px,4px);
        } @else if($break == $grid_lap) {
            @include headings
        } @else if($break == $grid_desk) {
            @include headings
        }  @else {
            @include headings(26px,4px);
        }

        @for $i from 1 through $cols {
            & .col#{$mod}-#{$i} {
                width: (100 / ($cols / $i) ) * 1%;
            }
        }
    }
}

#root {
    width: 100%;
    margin: 100px 0;

    #main {
        width: 100%;
        max-width: $grid_max;
        padding: $rowPad;
        margin: 0 auto; }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before,
        &::after {
            content:'';
            clear: both; }

        .col {
            float: left; }
    }

    @each $mod , $break in $map-grid-props {
        @include create-col-mq($mod, $grid_cols, $break); }

    .column-pad {
        padding-left: $colPad;
        padding-right: $colPad; }

    .row-pad {
        padding: $rowPad; }

    article {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 10;

        &.rollupTop {
            opacity: 0;
            z-index: -1;
        }
    }

    article:not(.rollupTop) + section #section-content {
        filter: blur(4px);
    }

}

@import 'header';

@import 'footer';

@import 'nav';

@import 'home';

@import 'history';

@import 'resume';









