/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* VARIABLES */

    /*colors*/
$primary-highlight: #222222;
$primary-highlight-fore: #D6D1E6;
$secondary-highlight: #68566D;
$secondary-highlight-fore: #FFFFFF;
$default-fore: #F4F4F4;
$default-back: #333333;

    /*fonts*/
$primary-font: 'Dosis', Verdana, sans-serif;
$secondary-font: 'Righteous', Impact, cursive;

    /*dimensions*/
$rowV: 3vw;
$rowH: 5vw;
$rowPad: 3vh 5vw;
$colPad: calc(20px + 2vmin);

/* GLOBAL */

body {
    background-color: $default-back;
    color: $default-fore;
    font-family: $primary-font;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	line-height: 1;
   /* -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none; }  // Safari and Chrome*/
}

#header, #nav, #footer {
    z-index: 200; }

#main {
    margin: 100px 0;
}

section {
    width: 100vw;
    height: 100vh;
    margin: 50px 0;
    z-index: 1;

    #section-content{
        width: 100vw;
        height: 100vh; 
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
}

a {
    color: inherit;
    text-decoration: none; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

button {
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer; }

table {
	border-collapse: collapse;
	border-spacing: 0; }


 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; }

@mixin headings($h1: 42px, $decreaseBy: 6px) {
    @for $i from 1 through 6 {
        h#{$i} {
            font-size: ($h1+$decreaseBy) - $i * $decreaseBy;
            font-family: $primary-font;
            letter-spacing: 1.5px; }
    }
}

@include headings;

@media (max-width:999px) {
    @include headings(34px,4px);
}

@media (max-width:599px) {
    @include headings(26px,4px);
}



@import 'header';

@import 'footer';

@import 'nav';

@import 'home';

@import 'history';

@import 'resume';









