/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 */
div, main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

/* VARIABLES */
/*colors*/
/*fonts*/
/*dimensions*/
/* GLOBAL */
body {
  background-color: #333333;
  color: #F4F4F4;
  font-family: "Dosis", Verdana, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  body::-webkit-scrollbar {
    display: none; }

h1, h2, h3, h4 {
  margin-bottom: 20px; }

h5, h6, p {
  margin-bottom: 15px; }

#header, #nav, #footer {
  z-index: 200; }

section {
  width: 100vw;
  height: 100vh;
  margin: 50px 0;
  z-index: 1; }
  section #section-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }

a {
  color: inherit;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.button,
button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

/* HEADINGS */
/* GRID */
#root {
  width: 100%;
  margin: 100px 0; }
  #root #main {
    width: 100%;
    max-width: 1400px;
    padding: 3vw 5vw;
    margin: 0 auto; }
  #root .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    #root .row::before, #root .row::after {
      content: '';
      clear: both; }
    #root .row .col {
      float: left; }
  #root h1 {
    font-size: 26px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root h2 {
    font-size: 22px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root h3 {
    font-size: 18px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root h4 {
    font-size: 14px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root h5 {
    font-size: 10px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root h6 {
    font-size: 6px;
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 1.5px; }
  #root .col-mob-1 {
    width: 8.3333333333%; }
  #root .col-mob-2 {
    width: 16.6666666667%; }
  #root .col-mob-3 {
    width: 25%; }
  #root .col-mob-4 {
    width: 33.3333333333%; }
  #root .col-mob-5 {
    width: 41.6666666667%; }
  #root .col-mob-6 {
    width: 50%; }
  #root .col-mob-7 {
    width: 58.3333333333%; }
  #root .col-mob-8 {
    width: 66.6666666667%; }
  #root .col-mob-9 {
    width: 75%; }
  #root .col-mob-10 {
    width: 83.3333333333%; }
  #root .col-mob-11 {
    width: 91.6666666667%; }
  #root .col-mob-12 {
    width: 100%; }
  @media screen and (min-width: 600px) {
    #root h1 {
      font-size: 34px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h2 {
      font-size: 30px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h3 {
      font-size: 26px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h4 {
      font-size: 22px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h5 {
      font-size: 18px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h6 {
      font-size: 14px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root .col-tab-1 {
      width: 8.3333333333%; }
    #root .col-tab-2 {
      width: 16.6666666667%; }
    #root .col-tab-3 {
      width: 25%; }
    #root .col-tab-4 {
      width: 33.3333333333%; }
    #root .col-tab-5 {
      width: 41.6666666667%; }
    #root .col-tab-6 {
      width: 50%; }
    #root .col-tab-7 {
      width: 58.3333333333%; }
    #root .col-tab-8 {
      width: 66.6666666667%; }
    #root .col-tab-9 {
      width: 75%; }
    #root .col-tab-10 {
      width: 83.3333333333%; }
    #root .col-tab-11 {
      width: 91.6666666667%; }
    #root .col-tab-12 {
      width: 100%; } }
  @media screen and (min-width: 900px) {
    #root h1 {
      font-size: 42px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h2 {
      font-size: 36px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h3 {
      font-size: 30px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h4 {
      font-size: 24px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h5 {
      font-size: 18px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h6 {
      font-size: 12px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root .col-lap-1 {
      width: 8.3333333333%; }
    #root .col-lap-2 {
      width: 16.6666666667%; }
    #root .col-lap-3 {
      width: 25%; }
    #root .col-lap-4 {
      width: 33.3333333333%; }
    #root .col-lap-5 {
      width: 41.6666666667%; }
    #root .col-lap-6 {
      width: 50%; }
    #root .col-lap-7 {
      width: 58.3333333333%; }
    #root .col-lap-8 {
      width: 66.6666666667%; }
    #root .col-lap-9 {
      width: 75%; }
    #root .col-lap-10 {
      width: 83.3333333333%; }
    #root .col-lap-11 {
      width: 91.6666666667%; }
    #root .col-lap-12 {
      width: 100%; } }
  @media screen and (min-width: 1200px) {
    #root h1 {
      font-size: 42px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h2 {
      font-size: 36px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h3 {
      font-size: 30px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h4 {
      font-size: 24px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h5 {
      font-size: 18px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root h6 {
      font-size: 12px;
      font-family: "Dosis", Verdana, sans-serif;
      letter-spacing: 1.5px; }
    #root .col-desk-1 {
      width: 8.3333333333%; }
    #root .col-desk-2 {
      width: 16.6666666667%; }
    #root .col-desk-3 {
      width: 25%; }
    #root .col-desk-4 {
      width: 33.3333333333%; }
    #root .col-desk-5 {
      width: 41.6666666667%; }
    #root .col-desk-6 {
      width: 50%; }
    #root .col-desk-7 {
      width: 58.3333333333%; }
    #root .col-desk-8 {
      width: 66.6666666667%; }
    #root .col-desk-9 {
      width: 75%; }
    #root .col-desk-10 {
      width: 83.3333333333%; }
    #root .col-desk-11 {
      width: 91.6666666667%; }
    #root .col-desk-12 {
      width: 100%; } }
  #root .column-pad {
    padding-left: calc(20px + 2vmin);
    padding-right: calc(20px + 2vmin); }
  #root .row-pad {
    padding: 3vw 5vw; }
  #root article {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 10; }
    #root article.rollupTop {
      opacity: 0;
      z-index: -1; }
  #root article:not(.rollupTop) + section #section-content {
    filter: blur(4px); }

#header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0; }

#header .header-wrap.rollupTop {
  min-height: 55px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: transparent;
  font-size: calc(5px + 1vmin); }
  #header .header-wrap.rollupTop .logos-ticker {
    height: 40px; }
  #header .header-wrap.rollupTop div[class*="logo-"],
  #header .header-wrap.rollupTop .logo-JS span::before {
    font-size: 12px; }
  #header .header-wrap.rollupTop .fa-jquery::before,
  #header .header-wrap.rollupTop div[class*="logo-"] i {
    width: 25px;
    height: 25px;
    font-size: 25px; }
  #header .header-wrap.rollupTop .contact-card {
    width: calc(100% - 50px);
    flex-direction: row; }
    #header .header-wrap.rollupTop .contact-card h2 {
      width: auto; }
    #header .header-wrap.rollupTop .contact-card > div {
      height: 50px; }
    #header .header-wrap.rollupTop .contact-card > div > div:not(.navBtn) {
      width: 0;
      height: 0;
      transition: width 0s 0.33s; }
    #header .header-wrap.rollupTop .contact-card #navBtn {
      width: 50px;
      height: 50px;
      transform: scale(0.75);
      opacity: 1; }
      #header .header-wrap.rollupTop .contact-card #navBtn.open div:nth-child(1) {
        transform: rotate(320deg) translate(-10px, 13px); }
      #header .header-wrap.rollupTop .contact-card #navBtn.open div:nth-child(2) {
        transform: scale(20) rotate(-640deg);
        opacity: 0; }
      #header .header-wrap.rollupTop .contact-card #navBtn.open div:nth-child(3) {
        transform: rotate(-320deg) translate(-10px, -13px); }

#header .header-wrap {
  width: 100%;
  min-height: 125px;
  padding: 3vw 5vw;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 1.5vmin);
  color: #D6D1E6;
  line-height: 1.1;
  transition: height 0.5s, background-color 0.5s; }
  #header .header-wrap .logos-ticker {
    width: 75px;
    height: 75px;
    position: relative; }
  #header .header-wrap div[class*="logo-"] {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 0.15s; }
  #header .header-wrap div[class*="logo-"].active {
    transform: scale(1);
    opacity: 1; }
  #header .header-wrap div[class*="logo-"] i {
    width: 60px;
    height: 60px;
    font-size: 60px; }
  #header .header-wrap .fa-jquery::before {
    content: '';
    width: 60px;
    height: 60px;
    background-image: url("../img/jquery-svg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block; }
  #header .header-wrap .contact-card {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    transition: width 0.5s; }
    #header .header-wrap .contact-card h2 {
      width: 300px;
      margin: 0;
      cursor: pointer; }
    #header .header-wrap .contact-card div:not(.navBtn) > div:not(.navBtn) {
      width: 300px;
      text-align: right;
      overflow: hidden;
      transition: width 0.33s, font-size 0.15s; }
    #header .header-wrap .contact-card #navBtn {
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
      color: inherit;
      opacity: 0;
      transition: width 0.5s 0.33s;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      cursor: pointer; }
      #header .header-wrap .contact-card #navBtn div {
        width: 50px;
        height: 0;
        border: 1px solid;
        transition: transform 0.5s, opacity 0.4s 0.1s; }

#footer {
  height: auto;
  overflow: hidden; }
  #footer .footer-wrap {
    width: 100vw;
    height: 200px;
    padding: 3vw 5vw;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(0);
    transform-origin: bottom;
    background-color: #222222;
    color: #D6D1E6;
    font-size: 100%;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #footer .footer-wrap.rollupBtm, #footer .footer-wrap.rollupBtm.rollupTop {
      transform: translateY(0); }
    #footer .footer-wrap.rollupTop {
      transform: translateY(100%); }
    #footer .footer-wrap .contact-card {
      text-align: center; }
      #footer .footer-wrap .contact-card a {
        line-height: 30px; }

#footer .footer-wrap.rollupBtm,
#footer .footer-wrap.rollupBtm.rollupTop {
  transform: translateY(0); }

#footer.tablet .footer-wrap,
#footer.mobile .footer-wrap {
  height: 50px;
  background: none; }
  #footer.tablet .footer-wrap .contact-card,
  #footer.mobile .footer-wrap .contact-card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #footer.tablet .footer-wrap .contact-card a,
    #footer.mobile .footer-wrap .contact-card a {
      line-height: 0;
      font-size: 0; }
      #footer.tablet .footer-wrap .contact-card a i,
      #footer.mobile .footer-wrap .contact-card a i {
        font-size: 18px; }
  #footer.tablet .footer-wrap.rollupTop,
  #footer.mobile .footer-wrap.rollupTop {
    transform: translateY(0); }

#header #nav {
  width: 100vw;
  height: 50px;
  border: solid rgba(255, 255, 255, 0.1);
  border-width: 1px 0;
  position: absolute;
  right: 0;
  background-color: #222222;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 0.5s 0.33s, height 0.5s, background-color 0.5s; }
  #header #nav:hover {
    background-color: #68566D; }
  #header #nav.rollupTop {
    height: 0;
    border-width: 0;
    position: fixed;
    overflow: hidden; }
    #header #nav.rollupTop.open {
      height: 50px;
      border-width: 1px 0; }
  #header #nav a {
    min-width: 100px;
    height: 50px;
    padding: 25px 1vw;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    line-height: 0;
    transition: font-size 0.25s; }
    #header #nav a:hover {
      font-size: 110%; }

#header #scrollNav-wrap {
  width: 20px;
  height: 50vh;
  position: fixed;
  top: 25vh;
  right: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 300; }
  #header #scrollNav-wrap .scrollNav {
    width: 0;
    height: 0;
    border: 5px solid;
    border-radius: 50%;
    position: relative;
    font-size: 0;
    line-height: 0;
    text-indent: 80px;
    cursor: pointer;
    transition: text-indent 1s; }
    #header #scrollNav-wrap .scrollNav.active {
      text-indent: -80px; }
      #header #scrollNav-wrap .scrollNav.active::before {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        left: -8px; }
  #header #scrollNav-wrap .scrollNav.mid {
    width: 0;
    height: 0;
    border: 2px solid; }

#section-content.home::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/home-bg.png") center no-repeat;
  background-size: cover;
  filter: blur(2px) grayscale(1);
  opacity: 0.33;
  display: block; }

#section-content.history::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/history-bg.jpg") center no-repeat;
  background-size: cover;
  filter: blur(1.2px) grayscale(1);
  opacity: 0.33;
  display: block; }

#section-content.resume::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://picsum.photos/1024/800?image=4") center no-repeat;
  background-size: cover;
  filter: blur(1.2px) grayscale(1);
  opacity: 0.33;
  display: block; }
#section-content.resume > * {
  z-index: 10; }
#section-content.resume #resume {
  width: 80%;
  height: 70%;
  cursor: ns-resize; }
#section-content.resume .button {
  padding: 10px 15px;
  border-radius: 2px;
  position: absolute;
  bottom: 9vh;
  background-color: #222222; }

/*# sourceMappingURL=index.css.map */
